# Configuración de la Base de Datos
DATABASE_URL=""

# Configuración del Servidor
PORT=3001
NODE_ENV=development

# Configuración JWT
JWT_SECRET=cambiar_este_secreto
JWT_EXPIRES_IN=7d

# Configuración CORS
CORS_ORIGIN=http://localhost:5173